
@{
    ViewBag.Title = "Index";
}

<h2>Invisible !!!</h2>

@Html.Partial("~/Views/Shared/AjaxSortableTable/UserStatusFilter_Partial.cshtml")


<div id="unobtrusive">
    @Html.Partial("Table_Partial")
</div>
